<h1>ごはん一覧</h1>
<% @dishes.each do |dish| %>
	<div class="gohan">
	<ol>
			<li><%= dish.name %></li>
			<li><%= dish.recipe %></li>
			<li><a href=<%= dish.url %>><%= dish.url %></a></li>
			<li><%= dish.memo %></li>
	</ol>
	</div>
<% end %>