<p><%= @dish.name %></p>

<p><%= @dish.url %></p>

<p><%= @dish.memo %></p>

<h3>料理の画像</h3>
<% @dish_images.each do |dish_image| %>
    <img src="<%= "/dish_images/#{dish_image.filename}" %>" width="100">
<% end %>

<p><%= link_to "編集", edit_dish_path(@dish) %></p>